In [1]:
import json
import pandas as pd

In [2]:
payload = '{"input": ["Hello World"], "latency": 20}'

In [3]:
json.loads(payload)

{'input': ['Hello World'], 'latency': 20}

In [4]:
df = pd.DataFrame({"Col A": [1, 2, 3], "Col B": [3, 2, 1]})

In [5]:
df

   Col A  Col B
0      1      3
1      2      2
2      3      1